{% load humanize %}

<div class="col col-md-6 col-lg-4 mb-4">
  <div class="card" style="width: 18rem;">
    <a href="{% url 'community:detail' article.pk %}">
      <div class="card-body">
        <h5 class="card-title">
          {{ article.title|slice:":23" }}...
        </h5>
        <hr />
        <h6 class="card-subtitle mb-2 text-muted updated">
          {{ article.updated_at|naturaltime }} 수정됨
        </h6>
        <p class="card-text">
          {{ article.content|slice:":100" }}...
        </p>
      </div>
    </a>
    <div class="card-footer">
      <a
        href="{% url 'accounts:profile' article.creator.username %}"
        class="card-link"
        >{{ article.creator.username }}</a
      >
      <div>
        <button type="button" class="btn btn-sm btn-light border border-danger" data-toggle="modal" data-target="#likeModal_{{ article.pk }}">
          <i class="fas fa-heart"></i><span id="like-count-{{ article.pk }}"class="badge badge-light">{{ article.like_users_count }}</span>
        </button>
        {% if request.user.is_authenticated %}
          {% if request.user in article.like_users.all %}
            <div class="btn btn-sm btn-secondary like-btn js-like" data-id="{{ article.pk }}">좋아요 취소</div>
          {% else %}
            <div class="btn btn-sm btn-secondary like-bt js-like" data-id="{{ article.pk }}">좋아요</div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- LikeModal -->
<div class="modal fade" id="likeModal_{{ article.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">이 글을 좋아하는 사람</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          {% for liker in article.like_users.all %}
          <li class="liker badge badge-pill badge-info ">{{ liker.username }}</li>
          {% empty %}
          아직 이 글을 좋아하는 사람이 없습니다.
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>