{% extends 'base.html' %}
{% load bootstrap4 static %}

{% block title %}
detail    
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'community/stylesheets/detail.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/modal.css' %}"/>
{% endblock %}

{% block js %}
  <script src="{% static 'community/js/child_comment.js' %}"></script>
{% endblock %}

{% block body %}
<article class="mb-4">
  <div class="d-flex justify-content-between mb-3 header">
    <h3>{{ article.title }} <small>| <a class="badge badge-pill badge-primary" href="{% url 'accounts:profile' article.creator.username %}">{{ article.creator.username }}</a></small></h3>
    <div class="like-wrapper">
      <button type="button" class="btn btn-sm btn-light border border-danger" data-toggle="modal" data-target="#likeModal">
        <i class="fas fa-heart"></i><span class="badge badge-light">{{ article.like_users.count }}</span>
      </button>
      {% if request.user in article.like_users.all %}
        <a href="{% url 'community:like' article.pk %}" class="card-link btn btn-sm btn-secondary like-btn">좋아요 취소</a>
      {% else %}
        <a href="{% url 'community:like' article.pk %}" class="card-link btn btn-sm btn-danger like-btn">좋아요</a>
      {% endif %}
    </div>
  </div>
  <hr>

  <p class="mb-5">{{ article.content }}</p>

  <ul class="tag-list">
    {% for hashtag in article.has_hashtags.all %}
    <li class="tag badge badge-pill badge-info"><a class="text-white" href={{ "/community/search?term="|add:hashtag.tag }} >{{ hashtag.tag }}</a></li>
    {% endfor %}
  </ul>

  <p class="small my-0 text-right text-secondary">{{ article.updated_at }} (updated)</p>
  <p class="small my-0 text-right text-secondary">{{ article.created_at }} (created)</p>
  <div class="w-100 d-flex justify-content-between mt-3">
    <a class="btn btn-secondary w-25" href="{% url 'community:index' %}">Back</a>
    {% if request.user == article.creator %}
    <a class="btn btn-primary w-25" href="{% url 'community:edit' article.pk %}">Edit</a>
    <button type="button" class="btn btn-danger w-25" data-toggle="modal" data-target="#staticBackdrop">Delete</button>
    {% endif %}
  </div>
</article>
{% include 'community/_comment.html' %}
<!-- LikeModal -->
<div class="modal fade" id="likeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">이 글을 좋아하는 사람</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          {% for liker in article.like_users.all %}
          <li class="liker badge badge-pill badge-info ">{{ liker.username }}</li>
          {% empty %}
          아직 이 글을 좋아하는 사람이 없습니다.
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- DeleteModal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">경고</h5>
        </div>
        <div class="modal-body">
          삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary py-1" data-dismiss="modal">Cancel</button>
          <form action="{% url 'community:delete' article.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger py-1">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
