{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
detail    
{% endblock %}


{% block body %}
  <div class="d-flex justify-content-between mb-3">
    <h3>{{ article.title }} <small>| by. {{ article.creator.username }}</small></h3>
    <div>
        <span data-toggle="modal" data-target="#likeModal" style="cursor:pointer;">{{ article.like_users.count }} 명이 좋아합니다.</span>
        <a href="{% url 'community:like' article.pk %}" class="card-link btn btn-sm btn-danger">
          {% if request.user in article.like_users.all %}
          좋아요 취소
          {% else %}
          좋아요
          {% endif %}
        </a>
    </div>
    </div>
  <hr>

  <p class="mb-5">{{ article.content }}</p>

  <ul>
    {% for hashtag in article.has_hashtags.all %}
    <li>{{ hashtag }}</li>
    {% endfor %}
  </ul>

  <p class="small my-0 text-right text-secondary">{{ article.updated_at }} (updated)</p>
  <p class="small my-0 text-right text-secondary">{{ article.created_at }} (created)</p>
  <div class="w-100 d-flex justify-content-between mt-3">
    <a class="btn btn-secondary w-25" href="{% url 'community:index' %}">Back</a>
    {% if request.user == article.creator %}
    <a class="btn btn-primary w-25" href="{% url 'community:edit' article.pk %}">Edit</a>
    <button type="button" class="btn btn-danger w-25" data-toggle="modal" data-target="#staticBackdrop">Delete</button>
    {% endif %}
  </div>

<!-- LikeModal -->
<div class="modal fade" id="likeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">이 글을 좋아하는 사람</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          {% for liker in article.like_users.all %}
          <li>{{ liker.username }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <!-- DeleteModal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">경고</h5>
        </div>
        <div class="modal-body">
          삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary py-1" data-dismiss="modal">Cancel</button>
          <form action="{% url 'community:delete' article.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger py-1">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
