{% extends 'base.html' %}
{% load bootstrap4 static humanize %}

{% block title %}
    {{ person.username }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'community/stylesheets/card.css' %}"/>
  <link rel="stylesheet" href="{% static 'stylesheets/profile.css' %}"/>
  <link rel="stylesheet" href="{% static 'stylesheets/modal.css' %}"/>
{% endblock %}


{% block body %}
<div class="header">
    {% if request.user == person %}
    <h3> 나의 프로필</h3>
    {% else %}
    <h3>{{ person.username }}님의 프로필</h3>
    {% endif %}
    {% if request.user != person %}
        {% if request.user in person.followers.all %}
            <a href="{% url 'accounts:follow' person.username %}"><button class="btn btn-secondary">팔로우 취소</button></a>
        {% else %}
            <a href="{% url 'accounts:follow' person.username %}"><button class="btn btn-primary">팔로우</button></a>
        {% endif %}
    {% endif %}
  </div>
<hr>

<div class="follow-info">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#followersModal">
  팔로워 <span class="badge badge-light">{{ person.followers.count }}</span>
  </button>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#followsModal">
  팔로우 <span class="badge badge-light">{{ person.follows.count }}</span>
  </button>
</div>
<hr>

<div class="user-create">
    {% if request.user == person %}
    <h4>내가 작성한 글 | {{ person.articles.count }} 개</h4>
    {% else %}
    <h4>{{ person.username }}님이 작성한 글 <small>({{ person.articles.count }} 개)</small></h4>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3">
        {% for article in person.articles.all %}
          {% include 'community/_card.html' %}
        {% empty %}
        <div class="col"> 아직 작성한 글이 없습니다. </div>
        {% endfor %}
    </div>
</div>
<hr>

<div class="user-like">
    {% if request.user == person %}
    <h4>내가 좋아요한 글 | {{ person.like_articles.count }} 개</h4>
    {% else %}
    <h4>{{ person.username }}님이 좋아요한 글 | {{ person.like_articles.count }} 개</h4>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3">
        {% for article in person.like_articles.all %}
          {% include 'community/_card.html' %}
        {% empty %}
        <div class="col"> 아직 좋아요한 글이 없습니다. </div>
        {% endfor %}
    </div>
</div>

<!-- followersModal -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ person.username }}님을 팔로잉하는 사람</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          {% for follower in person.followers.all %}
          <li class="follower badge badge-pill badge-info ">{{ follower.username }}</li>
          {% empty %}
          아직 팔로워가 없습니다.
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- followsModal -->
<div class="modal fade" id="followsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ person.username }}님이 팔로우하는 사람</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          {% for follow in person.follows.all %}
          <li class="follow badge badge-pill badge-info ">{{ follow.username }}</li>
          {% empty %}
          아직 팔로우하는 사람이 없습니다.
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}